/**
 * Ayu style for Waybar
 */

* {
  font-weight: 400;
  font-family: 'SF Mono', sans-serif;
  font-size: 16px;
}

#waybar {
  background: #292D3E;
}

#workspaces {
  margin: 0 3px 0 1px;
}

#workspaces button {
  border: none;
  padding: 0 8px;
  color: white;
}

#workspaces button.focused {
  background-color: #c792ea;
  color: #292D3E;
  border-radius: 0px;
}

#workspaces button.urgent {
  color: #f51818;
}

#custom-spotify {
  background-color: #1ed760;
  padding: 0px 10px 0px 10px;
  font-family: sans-serif;
}

#backlight,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#custom-wttr,
#custom-system,
#custom-separator,
#mode {
  padding: 0 12px;
  color: white;
}

#idle_inhibitor {
  padding: 0 18px;
  background-color: #3e4452;
}

#tray {
  opacity: 0.8;
  padding: 8px;
}

#custom-system {
  margin-right: 6px;
  background-color: #ffcb6b;
  color: #292D3E;
}

#custom-clock {
  background: #c792ea;
  padding: 0px 20px 0px 20px;
  color: #292D3E;
}
