* {
  font-weight: 400;
  font-family: 'mononoki', sans-serif;
  font-size: 16px;
}

#waybar {
  background: #292D3E;
}

#workspaces {
  margin: 0 3px 0 1px;
}

#workspaces button {
  border: none;
  padding: 0 8px;
  color: white;
}

#workspaces button:hover {
  border: none;
  padding: 0 8px;
  color: #292D3E;
  border-radius: 0px;
}


#workspaces button.focused {
  background-color: #c792ea;
  color: #292D3E;
  border-radius: 0px;
}

#workspaces button.urgent {
  color: #ffcb6b;
}

#custom-spotify {
  background-color: #1ed760;
  padding: 0px 10px 0px 10px;
  font-family: sans-serif;
}

#backlight,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#custom-wttr,
#custom-system,
#custom-separator,
#mode {
  padding: 0 12px;
  color: white;
}

#cpu {
  border-radius: 15px 0px 0px 15px;
  padding-right: 5px;
  margin: 3px 0px 3px 3px;
}

#temperature {
  border-radius: 0px 15px 15px 0px;
  padding-left: 5px;
  margin: 3px 3px 3px 0px;
}

#cpu, #temperature {
  background-color: #F07178;
}

#disk {
  border-radius: 15px 0px 0px 15px;
  padding-right: 5px;
  margin: 3px 0px 3px 3px;
}

#memory {
  border-radius: 0px 15px 15px 0px;
  padding-left: 5px;
  margin: 3px 3px 3px 0px;
}

#disk, #memory {
  background-color: #434758;
}

#pulseaudio {
  margin: 3px 0px 3px 3px;
  padding: 0px 10px 0px 5px;
  border-radius: 15px 0px 0px 15px;
}

#backlight {
  margin: 3px 3px 3px 0px;
  padding: 0px 5px 0px 5px;
  border-radius: 0px 15px 15px 0px;
}

#pulseaudio, #backlight {
  color: #292d3e;
  background-color: #d0d0d0;
}

#idle_inhibitor {
  padding: 0 18px;
  background-color: #3e4452;
}

#tray {
  opacity: 0.8;
  padding: 8px;
}

#custom-system {
  margin-right: 6px;
  background-color: #ffcb6b;
  color: #292D3E;
}

#custom-clock {
  background: #292D3E; /*#c792ea;*/
  padding: 0px 5px 0px 10px;
  color: white;
  border-radius: 15px;
  margin: 3px;
}
