:root {
  /* Grays */
  --palenight-bg: #292D3E;
  --palenight-fg: #A6ACCD;
  --palenight-text: #676E95;
  --palenight-selected-bg: #717CB4;
  --palenight-selected-fg: #FFFFFF;
  --palenight-buttons: #303348;
  --palenight-second-background: #34324a;
  --palenight-disabled: #515772;
  --palenight-contrast: #202331;
  --palenight-active: #414863;
  --palenight-border: #2b2a3e;
  --palenight-highlight: #444267;
  --palenight-tree: #676E95;
  --palenight-notifications: #202331;
  --palenight-accent-color: #ab47bc;
  --palenight-excluded-files-olor: #2f2e43;
  --palenight-links: #80cbc4;

  /* Palenight Colors */
  --palenight-green: #c3e88d;
  --palenight-yellow: #ffcb6b;
  --palenight-blue: #82aaff;
  --palenight-red: #f07178;
  --palenight-purple: #c792ea;
  --palenight-orange: #f78c6c;
  --palenight-cyan: #89ddff;
  --palenight-gray: #676E95;
  --palenight-white: #eeffff;
  --palenight-error: #ff5370;
}

/* Tabs */

#tabbrowser-tabs {
  --tab-loading-fill: var(--palenight-purple);
}

.toolbar-items {
  background-color: var(--palenight-bg);
}

.tab-background {
  border: none !important;
}

.tabbrowser-tab[soundplaying="true"] > stack > .tab-background[selected="true"] {
  background-color: var(--palenight-purple) !important;
  color: var(--palenight-bg) !important;
}

.tabbrowser-tab[soundplaying="true"] > stack > .tab-background {
  background-color: #676E95 !important;
  color: var(--palenight-white) !important;
}

.tab-background[selected="true"] {
  background-color: var(--palenight-purple) !important;
}

.tab-background:not[visuallyselected] {
  background-color: var(--palenight-selected-bg);
  opacity: 0.5;
}

.tab-line {
  display: none !important;
}

.tabbrowser-tab {
  border-radius: 0px !important;
  border-width: 0;
  height: 32px;
  max-height: 32px;
  min-height: 32px;
}

tab.tabbrowser-tab:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

.tab-text {
  color: var(--palenight-white);
  font-family: "Cantarell", sans;
  font-weight: 400;
  font-size: 11pt;
}

.tab-text[selected="true"] {
  color: var(--palenight-bg);
}

tab.tabbrowser-tab {
  overflow: hidden;
}

#tabs-newtab-button {
  list-style-image: url("add.svg") !important;
  opacity: 0.7;
}

#tabbrowser-tabs {
  --tab-loading-fill: var(--palenight-purple);
}

/* hide favicon for tabs */
hbox.tab-content .tab-icon-image {
  display: none !important;
}

/* only show favicon for pinned tabs */
hbox.tab-content[pinned=true] .tab-icon-image {
  display: initial !important;
}

hbox.tab-content[pinned=true] .tab-text {
  display: none !important;
}


/* Position the tabs under the navigator container */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

/* Navigation Bar */

#nav-bar {
  background-color: var(--palenight-bg) !important;
}

#back-button {
  list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}

#reload-button, #stop-reload-button {
  display: none;
}

/* Disable transparent image on top of #nav-bar */
toolbar {
  background-image: none !important;
}

#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;
}

#urlbar-input {
  color: #98c1d9 !important;
  font-family: "Cantarell", serif !important;
  font-weight: 700 !important;
  font-size: 12pt !important;
  text-align: center !important;
}

#urlbar-input:focus {
  color: #e0fbfc !important;
}

#urlbar, #url-background, #urlbar-input-container {
  background-color: var(--palenight-bg);
}

#urlbar-background {
  /*opacity: .98 !important;*/

  /* removes little weird white corners on url tab */
  background: none !important;
  border: none !important;
}

#urlbar-input-container > #urlbar-go-button {
  color: var(--palenight-white) !important;
}

#urlbar-results {
  font-family: "Cantarell", serif;
  font-weight: 700;
  font-size: 12pt !important;
  color: #e0fbfc;
}

.urlbarView-url, .search-panel-one-offs-container {
  color: #98c1d9 !important;
  font-family: "Cantarell", serif;
  font-weight: 700;
  font-size: 12pt !important;
}

/* "This time, search with: " */
#urlbar-one-offs-header-label {
  color: var(--palenight-white);
}

.toolbarbutton-1 {
  background-color: var(--palenight-bg);
  color: var(--palenight-white) !important;
}

.urlbar-icon > image {
  fill: #e0fbfc !important;
  color: #e0fbfc !important;
}

#urlbar-search-mode-indicator {
  color: var(--palenight-white);
}

#tracking-protection-icon-container, #identity-box {
  color: var(--palenight-white);
}

#star-button {
  color: var(--palenight-white) !important;
}

#star-button[starred] {
  fill: var(--palenight-white) !important;
}

/*
#sidebar-search-caontainer {
  background-color: var(--palenight-bg);
}
*/

.megabar[breakout-extend="true"]:not([open="true"]) > #urlbar-background {
  box-shadow: none !important;
  background-color: transparent !important;
}

#navigator-toolbox, toolbaritem {
  border: none !important;
}

.urlbarView-row[type="bookmark"] > span {
  color: green !important;
}

.sidebar-placesTree {
  color: red !important;
}
